@media (max-width: 1200px) {
  .containerz {
    width: 300vw;
  }
  .mdbCard {
    width: 150vw;
  }
  #projImg {
    max-width: 35vw;
  }
  .expl {
    font-size: 2rem;
  }
}
.mdbCard {
  margin-left: 2rem;
}
